<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dawa.mobilehealth">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Admin_info_details_crud"></activity>
        <activity android:name=".admin.AdmindashActivity" />
        <activity
            android:name="login.LoginActivity"
            android:label="@string/title_activity_login" />

        <activity android:name=".admin.FirstaidCrudActivity" />
        <activity android:name=".admin.FaqCrudActivity" />
        <activity android:name=".admin.FirstaidInfoActivity" />
        <activity android:name=".admin.FirstaidActivity" />
        <activity android:name=".admin.FaqInfoActivity" />
        <activity android:name=".admin.FaqActivity" />
        <activity android:name=".admin.DoctorCrudActivity" />
        <activity android:name=".admin.FeedbackInfoActivity" />
        <activity android:name=".admin.AppointmentInfoActivity" />
        <activity android:name=".admin.DoctorInfoActivity" />
        <activity android:name=".admin.DoctorActivity" />
        <activity android:name=".admin.UserActivity" />
        <activity android:name=".admin.UserInfoActivity" />
        <activity android:name=".admin.UpdateAdminProfileActivity" />
        <activity android:name=".Quiz.QuizActivity" />
        <activity android:name=".Quiz.QuizDashActivity" />
        <activity android:name=".DoctorDetailActivity" />
        <activity android:name=".DocAppointmentActivity" />
        <activity android:name=".QrScanActivity" />
        <activity android:name=".StopwatchActivity" />
        <activity android:name=".BmiActivity" />
        <activity android:name=".FootStepsActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".FaqActivity" />
        <activity android:name=".welcome_screen.IntroActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".login.ForgotPasswordActivity" />
        <activity android:name=".login.SignupActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".splashscreen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>